// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
.title {
  width:192px;
}  

.body {
  width: 400px; 
}  
}
 table{
   
   border-spacing: 5px;
   border-color: grey;
   text-decoration: border-bottom;
   }

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color:inherit;
}

label{
  display: block;
}
